<div class="footer linea-gris">

    <div class="col-md-6">
        <%= image_tag "logo_principal/logo_footer_sncp.png", style: "width:500px;" %>
    
    </div>
    <div class="col-md-6 text-right">
    <p><strong >Dirección:</strong> Direccion del ministerio.</p>
    <p><strong >Teléfono:</strong> 021-444-6000.</p>
    <p><strong >Correo Electrónico:</strong> sncp@mec.gov.py</p>
    <p><strong >Horario de Atención:</strong> 08:00 a 15:00 hs</p>
    </div>
    <br/>
    <br/>
    <br/>
    
    
</div>
<div class="footer linea-gris">
</div>
<footer class= "footer-principal footer-container">
    <!-- Contenido del pie de página -->
</footer>

<style>