<header class="container-fluid">

<div class="cabecera row hidden-xs">

    <div class="col-sm-3 col-xs-8 principal" onclick="Javascript:window.open('http://mec.gov.py', '_self');" style="padding: 5px; margin-top: -6px;">
      <%= image_tag "logo_principal/actual_mec.png" %>
    </div>

    <div class="col-sm-offset-1 col-sm-4 col-sm-push-3">
      <h2 class="text-right">Consejo Nacional de Educación y Trabajo</h2>
      <h4 class="text-right">Unidad Técnica Interministerial</h4>
      <h5 class="text-right">Educación y formación Técnica y profesional - Sistema Nacional de Cualificaciones </h5>
    </div>

  </div>


  <%= render :partial => "layouts/menu" %>

</header>
